:root
{
    --primary1: #96f2d7;
    --text1: #212529;
    --bg-color: #F8F9FA;
    --bg-element1: #FFFFFF;
    --text-color-write: #212529;
    --border3: #dee2e6;
    --border4: #F2F2F2;
    --text3: #acacac;
    --border1: #343a40;
}

.darkMode
{
    --text1: #ececec;
    --bg-color: #121212;
    --bg-element1: #1e1e1e;
    --text-color-write: #f1f3f5;
    --border3: #4d4d4d;
    --border4: #2A2A2A;
    --text2: #d0d0d0;
    --text3: #868e96;
    --border1: #e0e0e0;
}

html 
{
    height: 100%;
}

body
{
    background-color : var(--bg-color);
    margin: 0;
    height: 100%;
    color: var(--text1);
}

a
{
    color: inherit;
}

header
{
    color: inherit;
    display:  flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
}

header nav
{
    display: flex;
    position: relative;
    align-items: center;
    -webkit-box-align: center;
    width: auto;
    height: 40px;
}

main
{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

/* 헤더 */



.b-darkMode
{
    padding: 7px;
    border: none;
    border-radius:  50%;
    background: none;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--text1);
    position: relative;
}

.b-darkMode:hover
{
    background-color: var(--border4);
}

.b-darkMode i
{
    display: block;
    width: 24px;
    height: 24px;
}

.b-search
{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: none;
    border-radius:  50%;
    background: transparent;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    outline: none;
    margin-right: 0.5rem;
}

.b-search:hover
{
    background-color: var(--border4);
}

/* .b-search i
{
    color: #ececec;
} */

.b-write
{
    width: 110px;
    height: 2rem;
    padding-left: 1rem;
    padding-right:  1rem;
    color: var(--text-color-write);
    border: 1px solid var(--text-color-write);
    /* border-color: var(--text-color); */
    border-radius: 1rem;
    background-color: var(--bg-element1);
    outline: none;
    font-weight: bold;
    word-break: keep-all;
    transition: all 0.125s ease-in 0s;
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
}

.b-write:hover
{
    color: var(--bg-color);
    background-color: var(--text1);
}

.b-profile
{
    display: flex;
    padding: 0%;
    border: none;
    background: none;   
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
}

.b-profile img
{
    z-index: 2;
    height: 40px;
    border-radius: 50%;
}

.b-profile svg
{
    font-size: 1.5rem;
    margin-left: 0.25rem;
    margin-right: -0.4375rem;
    color: #acacac;
    transition: all 0.125s ease-in 0s;
}

.b-profile:hover svg
{
    color: inherit;
}

.dropdown-menu
{
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    right: 0px;
    z-index: 5;
    background: var(--bg-element1);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    width: 12rem;
}

.dropdown-menu a
{
    display: block;
    text-decoration: none;
    padding: 0.75rem 1rem;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
}
.dropdown-menu a:hover
{
    color: #96F2D7;
}



.searchbar
{
    margin-top: 3.5rem;
    width: 768px;
    margin-left: auto;
    margin-right:  auto;
    margin-bottom: 1.5rem;
    display: flex;
    border: 1px solid #a0a0a0;
    padding: 0px 1.5rem;
    height: 4rem;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.125s ease-in 0s;
    cursor: text;
}

.searchbar svg
{
    width: 1.5rem;
    height:  1.5rem;
    margin-right: 1.25rem;
}

.searchbar input
{
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
    height: 2rem;
    border: none;
    background: #00000000;
    color: #d9d9d9;
    min-width: 0px;
    outline: 0px;
}

/* 글목록 영역 */

/* 글 목록 헤더 */

.list-header
{
    display: flex;
    margin-top: 1.5rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.tab-bar
{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.tabs
{
    display: flex;
    position: relative;
    width: 14rem;
}


.tabs a
{
    width: 7rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 1.125rem;
    text-decoration: none;
    height: 3rem;
    color: var(--text3);
}

.tabs a.active
{
    color: var(--text1);
    font-weight: bold;
}

.tabs svg
{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.tab-line
{
    width: 50%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    background: var(--border1)
}

.period
{
    background: var(--bg-element1);
    height: 2rem;
    width: 6rem;
    border-radius: 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 600;
    color: var(--text2);
    font-size: 0.875rem;
    box-shadow: rgba(0, 0, 0, 5%) 0px 0px 4px;
    cursor: pointer;
}

.period-dropdown
{
    display: none;
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: 5;
    margin-top: 0.5rem;
    width: 12rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px;
    background: var(--bg-element1);
    color: var(--text1);
    transform-origin: right top;
}

.period-dropdown ul
{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.period-dropdown ul li
{
    cursor: pointer;
    font-weight: 600;
    font-size: 00.875rem;
    padding: 0.75rem 1rem;
}

.period-dropdown ul li+li
{
    border-top: 1px solid var(--border4);
}

.period-dropdown .active
{
    color: var(--primary1);
}

.list-menu
{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.list-menu svg
{
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text3);
}

.list-menu-dropdown
{
    display: none;
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: 5;
    border: 1px solid var(--border3);
    margin-top: 0.5rem;
    width: 12rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px;
    background: var(--bg-element1);
    color: var(--text1);
    transform-origin: right top;
    padding: 0px;
    margin-bottom: 0px;
}

.list-menu-dropdown ul
{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.list-menu-dropdown ul li
{
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0px;
}

.list-menu-dropdown li + li
{
    border-top: 1px solid var(--border4);
}

.list-menu-dropdown ul li a
{
    display: block;
    padding: 0.75rem 1rem;
    color: inherit;
    text-decoration: none;
}

.list-menu-dropdown .contact
{
    border-top: 1px solid var(--border3);
    padding: 1rem;
}

.list-menu-dropdown .contact h5
{
    margin: 0px;
    font-size: 0.75rem;
}

.list-menu-dropdown .contact .email
{
    color: var(--text1);
    font-size: 0.75rem;
}

.list-menu-dropdown .graph
{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.list-menu-dropdown .graph a img
{
    width: 120px;
    height: auto;
}


.show
{
    display: block;
}

/* 새 글 페이지 */
.write-container
{
    width: 100%;
    height: 100%;
    display: flex;
}

.write-left
{
    min-width: 0px;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.016) 0px 0px 8px;
}

.write-right
{
    min-width: 0;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.wrapper
{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 0px;
    padding-bottom: 4rem;
    flex: 1 1 0%;
}

.write-head
{
    max-height: 540px;
    opacity: 1;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.write-head textarea
{
    background: transparent;
    display: block;
    padding: 0px;
    font-size: 2.75rem;
    width: 100%;
    resize: none;
    line-height: 1.5;
    outline: none;
    border: none;
    font-weight: bold;
    color: var(--text1);
}

.write-head-line
{
    background: rgb(73, 80, 87);
    height: 6px;
    width: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1px;
}

.input-tag
{
    color: var(--text1);
    font-size: 1.125rem;
    display: inline-flex;
    flex-wrap: wrap;
    background: transparent;
    outline: none;
    cursor: text;
    line-height: 2rem;
    margin-bottom: 0.75rem;
    border: none;
}

.toolbar
{
    top: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: var(--bg-element1);
    z-index: 10;
    transition: all 0.125s ease-in 0s;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: auto;
}

.toolbar button
{
    width: 3rem;
    height: 3rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: serif;
    color: var(--text3);
    cursor: pointer;
    flex-shrink: 0;
    background: none;
    outline: none;
    border: none;
    padding: 0px;
}

.write-body
{
    flex: 1 1 0%;
    min-height: 0px;
    display: flex;
    flex-direction: column;
}