:root
{
    --text-color: #212529;
    --bg-color: #F8F9FA;
    --bg-color-dropdown: #FFFFFF;
    --text-color-write: #212529;
    --b-hover-color: #F2F2F2;
}



body
{
    background-color : var(--bg-color);
    margin: 0;
    color: var(--text-color);
}

.darkMode
{
    --text-color: #ececec;
    --bg-color: #121212;
    --bg-color-dropdown: #1e1e1e;
    --text-color-write: #f1f3f5;
    --b-hover-color: #2A2A2A;
}

a
{
    color: inherit;
}

header
{
    color: inherit;
    display:  flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
}

header nav
{
    display: flex;
    position: relative;
    align-items: center;
    -webkit-box-align: center;
    width: auto;
    height: 40px;
}


.b-darkMode
{
    padding: 7px;
    border: none;
    border-radius:  50%;
    background: none;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--text-color);
    position: relative;
}

.b-darkMode:hover
{
    background-color: var(--b-hover-color);
}

.b-darkMode i
{
    display: block;
    width: 24px;
    height: 24px;
}

.b-search
{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: none;
    border-radius:  50%;
    background: transparent;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    outline: none;
    margin-right: 0.5rem;
}

.b-search:hover
{
    background-color: var(--b-hover-color);
}

/* .b-search i
{
    color: #ececec;
} */

.b-write
{
    width: 110px;
    height: 2rem;
    padding-left: 1rem;
    padding-right:  1rem;
    color: var(--text-color-write);
    border: 1px solid var(--text-color-write);
    /* border-color: var(--text-color); */
    border-radius: 1rem;
    background-color: var(--bg-color-dropdown);
    outline: none;
    font-weight: bold;
    word-break: keep-all;
    transition: all 0.125s ease-in 0s;
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
}

.b-write:hover
{
    color: var(--bg-color);
    background-color: var(--text-color);
}

.b-profile
{
    display: flex;
    padding: 0%;
    border: none;
    background: none;   
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
}

.b-profile img
{
    z-index: 2;
    height: 40px;
    border-radius: 50%;
}

.b-profile svg
{
    font-size: 1.5rem;
    margin-left: 0.25rem;
    margin-right: -0.4375rem;
    color: #acacac;
    transition: all 0.125s ease-in 0s;
}

.b-profile:hover svg
{
    color: inherit;
}

.dropdown-menu
{
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    right: 0px;
    z-index: 5;
    background: var(--bg-color-dropdown);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    width: 12rem;
}

.dropdown-menu a
{
    display: block;
    text-decoration: none;
    padding: 0.75rem 1rem;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
}
.dropdown-menu a:hover
{
    color: #96F2D7;
}

.show
{
    display: block;
}

.searchbar
{
    margin-top: 3.5rem;
    width: 768px;
    margin-left: auto;
    margin-right:  auto;
    margin-bottom: 1.5rem;
    display: flex;
    border: 1px solid #a0a0a0;
    padding: 0px 1.5rem;
    height: 4rem;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.125s ease-in 0s;
    cursor: text;
}

.searchbar svg
{
    width: 1.5rem;
    height:  1.5rem;
    margin-right: 1.25rem;
}

.searchbar input
{
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
    height: 2rem;
    border: none;
    background: #00000000;
    color: #d9d9d9;
    min-width: 0px;
    outline: 0px;
}